<section class="section about-us">
    <div class="container div-about-us">
        <div class="div-zagolovok"><h2 class="zagolovok">About</h2><p class="zag-paragraf">Us</p></div>
        <div class="div-paragraf">
        <img class="image camera" width="240" src="/src/img/about-us/camera_1440.png" alt="Fotoap">
         <p class="parag-1">Our photography school is designed to teach you everything you need to know about this magical art. Regardless of your experience or skill level, we offer a wide range of courses to suit your needs and interests. Our teaching team consists of experienced photographers who have many years of experience in this field. They strive not only to share their knowledge, but also to inspire you to develop and express your unique creativity.</p>
         <p class="parag-2">Our courses cover a wide range of topics, from the basics of photography and equipment use to professional image processing and creating impressive compositions. You will have the opportunity to learn the technical aspects of photography, discover your own style and develop your own visual language.</p>
        </div>
 </div>
</section>