<div class="head">
  <div class="head-container">
    <nav class="head-nav">
      <a class="head-logo">LOGO</a>
      <div class="head-menu-overlay">
        <button class="head-btn-close">Close</button>
        <ul class="head-menu-list">
          <li class="head-menu-item">
            <a href="#" class="head-menu-link">About us</a>
          </li>
          <li class="head-menu-item">
            <a href="#" class="head-menu-link">Our courses</a>
          </li>
          <li class="head-menu-item">
            <a href="#" class="head-menu-link">Our mentors</a>
          </li>
          <li class="head-menu-item">
            <a href="#" class="head-menu-link">Reviews</a>
          </li>
          <li class="head-menu-item">
            <a href="#" class="head-menu-link">contacts</a>
          </li>
        </ul>
      </div>
      <div class="head-btn-group">
        <a href="#" class="head-signup-link">Sign up </a>
        <button class="head-btn-open">Open</button>
      </div>
    </nav>
  </div>
</div>
