<section class="our-mentors">
  <div class="container">
    <h2 class="our-mentors-title">
      Our <span class="color-brown">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-list-item">
        <img
          class="mentors-img"
          src="../img/our-mentors/img-1.png"
          srcset="
            ../img/our-mentors/img-1.png    1x,
            ../img/our-mentors/img-1@2x.png 2x
          "
          alt="Emilia Smith"
        />
        <h3 class="mentors-title">Emilia Smith</h3>
        <p class="mentor-desc">1.5 years of experience</p>
      </li>
      <li class="mentors-list-item">
        <img
          class="mentors-img"
          src="../img/our-mentors/img-1.png"
          srcset="
            ../img/our-mentors/img-2.png    1x,
            ../img/our-mentors/img-2@2x.png 2x
          "
          alt="Alex Lebedev"
        />
        <h3 class="mentors-title">Alex Lebedev</h3>
        <p class="mentor-desc">3.5 years of experience</p>
      </li>
      <li class="mentors-list-item">
        <img
          class="mentors-img"
          src="../img/our-mentors/img-1.png"
          srcset="
            ../img/our-mentors/img-3.png    1x,
            ../img/our-mentors/img-3@2x.png 2x
          "
          alt="Mia Dubrovska"
        />
        <h3 class="mentors-title">Mia Dubrovska</h3>
        <p class="mentor-desc">2.0 years of experience</p>
      </li>
      <li class="mentors-list-item">
        <img
          class="mentors-img"
          src="../img/our-mentors/img-1.png"
          srcset="
            ../img/our-mentors/img-4.png    1x,
            ../img/our-mentors/img-4@2x.png 2x
          "
          alt="Eliot Kovalev"
        />
        <h3 class="mentors-title">Eliot Kovalev</h3>
        <p class="mentor-desc">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
