<section class="section">
  <div class="container">
    <!-- Title for section Mentors -->

    <h2 id="ourmentors" class="section-title our-mentors-title">
      Our <span class="accent-text">Mentors</span>
    </h2>

    <!-- Section Mentors sheet -->

    <ul class="mentors-list">
      <li class="mentors-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./img/our-mentors/img-1.webp    1x,
              ./img/our-mentors/img-1@2x.webp 2x
            "
          />
          <img
            class="mentors-img"
            src="./img/our-mentors/img-1.png"
            srcset="
              ./img/our-mentors/img-1.png    1x,
              ./img/our-mentors/img-1@2x.png 2x
            "
            alt="Emilia Smith"
            width="180"
            height="180"
          />
        </picture>
        <h3 class="mentors-title">Emilia Smith</h3>
        <p class="mentor-desc">1.5 years of experience</p>
      </li>
      <li class="mentors-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./img/our-mentors/img-2.webp    1x,
              ./img/our-mentors/img-2@2x.webp 2x
            "
          />
          <img
            class="mentors-img"
            src="./img/our-mentors/img-2.png"
            srcset="
              ./img/our-mentors/img-2.png    1x,
              ./img/our-mentors/img-2@2x.png 2x
            "
            alt="Alex Lebedev"
            width="180"
            height="180"
          />
        </picture>
        <h3 class="mentors-title">Alex Lebedev</h3>
        <p class="mentor-desc">3.5 years of experience</p>
      </li>
      <li class="mentors-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./img/our-mentors/img-3.webp    1x,
              ./img/our-mentors/img-3@2x.webp 2x
            "
          />
          <img
            class="mentors-img"
            src="./img/our-mentors/img-3.png"
            srcset="
              ./img/our-mentors/img-3.png    1x,
              ./img/our-mentors/img-3@2x.png 2x
            "
            alt="Mia Dubrovska"
            width="180"
            height="180"
          />
        </picture>
        <h3 class="mentors-title">Mia Dubrovska</h3>
        <p class="mentor-desc">2.0 years of experience</p>
      </li>
      <li class="mentors-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./img/our-mentors/img-4.webp    1x,
              ./img/our-mentors/img-4@2x.webp 2x
            "
          />
          <img
            class="mentors-img"
            src="./img/our-mentors/img-4.png"
            srcset="
              ./img/our-mentors/img-4.png    1x,
              ./img/our-mentors/img-4@2x.png 2x
            "
            alt="Eliot Kovalev"
            width="180"
            height="180"
          />
        </picture>
        <h3 class="mentors-title">Eliot Kovalev</h3>
        <p class="mentor-desc">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
