<section class="our-mentors">
  <div class="container">
    <h2 class="our-mentors-title">
      Our <span class="color-brown">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-list-item">
        <img
          class="mentors-img"
          src="./images/emilia-smith.jpg"
          srcset="./images/emilia-smith.jpg 1x, ./images/emilia-smith@2x.jpg 2x"
          alt="Emilia Smith"
        />
        <h3 class="mentors-title">Emilia Smith</h3>
        <p class="mentor-desc">1.5 years of experience</p>
      </li>
      <li class="mentors-list-item">
        <img
          class="mentors-img"
          src="./images/alex-lebedev.jpg"
          srcset="./images/alex-lebedev.jpg 1x, ./images/alex-lebedev@2x.jpg 2x"
          alt="Alex Lebedev"
        />
        <h3 class="mentors-title">Alex Lebedev</h3>
        <p class="mentor-desc">3.5 years of experience</p>
      </li>
      <li class="mentors-list-item">
        <img
          class="mentors-img"
          src="./images/mia-dubrovska.jpg"
          srcset="
            ./images/mia-dubrovska.jpg    1x,
            ./images/mia-dubrovska@2x.jpg 2x
          "
          alt="Mia Dubrovska"
        />
        <h3 class="mentors-title">Mia Dubrovska</h3>
        <p class="mentor-desc">2.0 years of experience</p>
      </li>
      <li class="mentors-list-item">
        <img
          class="mentors-img"
          src="./images/eliot-kovalev.jpg"
          srcset="
            ./images/eliot-kovalev.jpg    1x,
            ./images/eliot-kovalev@2x.jpg 2x
          "
          alt="Eliot Kovalev"
        />
        <h3 class="mentors-title">Eliot Kovalev</h3>
        <p class="mentor-desc">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
