.foot {
    padding: 40px 0 20px;
}

.foot-logo {
    fill: var(--primary-white-color);
}

.foot-icon {
    margin-bottom: 16px;
}

.contact {
    margin-bottom: 40px;
}

.contact-list,
.social-network-list,
.foot-nav-list {
    font-size: 14px;
    line-height: 1.29;
}

.contact-link,
.social-network-link,
.foot-nav-link {
    text-transform: uppercase;
}

.list {
    display: inline-flex;
    gap: 40px;
}

.foot-nav {
    margin-bottom: 75px;
}

.foot-form-email {
    margin-bottom: 40px;
}

.foot-form-input {
    outline: none;
    width: 267px;
    height: 60px;
    border-radius: 12px;
    background: var(--primary-white-color);
    padding: 20px 18px;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-black-color);
    border: none;
}

.foot-btn {
    margin: 0 auto;
    font-size: 20px;
    color: var(--primary-white-color);
    line-height: 1.2;
    border-radius: 12px;
    background: #1D1D1D;
    cursor: pointer;
    border: none;
    width: 60px;
    height: 60px;
    padding: 0;
}

.privacy {
    display: flex;
    gap: 72px;
}

.privacy-link,
.frame-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.035em;
}

.privacy-link {
    width: 147px;
    
}

.frame-text {
    width: 116px;
}
 
