.hero {
    max-width: 335px;
    margin: 0 auto;
}

.background {
    background-color: var(--secondary-black-color);
    border-radius: 30px;
}

.container {
    max-width: var(--mobile);
}

.hero-main {
    padding-top: 40px;
}

.hero-main-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.1rem;
}

.hero-main-title-span {
    color: var(--accent-color);
    font-style: italic;
    font-weight: 400;
}

.hero-main-paragraph {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.0175rem;
}

.hero-second {
    margin-top: 40px;
    display: flex;
    gap: 41px;
}

.hero-students {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 4px;
}

.hero-students-paragraph {
    width: 67px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.035rem;
}

.hero-students-arrow {
    fill: var(--primary-white-color);
}

.hero-reviews {
    display: flex;
    gap:12px;
}

.star {
    background-color: var(--accent-color);
    border-radius: 50%;
    padding: 12px;
    width: 44px;
    height: 44px;
}

.hero-star {
    fill: transparent;
    stroke: black;
}

.hero-count {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hero-count-paragraph {
    color: var(--white-opas50-color);
}

.hero-count-span {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.125;
    letter-spacing: 0.04rem;
}

.hero-image {
    margin: 0 auto;
    margin-top: 30px;
}

@media screen and (min-width: 768px) {

.hero {
    max-width: 704px;
    margin-bottom: 100px;
}

.container {
    max-width: var(--tablet);
}

    .hero-main {
    padding-top: 64px;
}

    .hero-main-title {
    width: 517px;
    font-size: 60px;
    letter-spacing: 1.06;
    line-height: -0.15rem;
}

    .hero-main-paragraph {
    width: 418px;
    height: 54px;
}

    .hero-people {
    display: flex;
    gap: 12px;
}

    .hero-people-image {
    width: 137px;
    height: 54px;
}

    .hero-students {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: normal;
    flex-shrink: 0;
    margin: 0;
}

    .hero-students-paragraph {
    width: 82px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.04rem;
}

    .star {
    width: 50px;
    height: 50px;
    padding: 15px;
}

    .hero-count {
    gap: 8px;
}

    .hero-count-span {
    line-height: 1.25;
}

    .hero-image {
    margin-top: 40px;
    width: 393px;
}
}

@media screen and (min-width: 1280px) {

.container {
    padding: 0 50px;
    display: flex;
    gap: 20px;
    max-width: var(--desktop);
}

.hero {
    max-width: 1180px;
    margin: 0 auto;
    gap: 20px;
}

.hero-main {
}

.hero-main-title {
    font-size: 64px;
    letter-spacing: -0.16rem;
}

.hero-second {
        margin-top: 136px;
        margin-bottom: 50px;
}

.hero-image {
    margin-top: 80px;
    width: 397px;
}

}