.course-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.course-text {
    max-width: 405px;
    line-height: 1.25;
    letter-spacing: -0.02em;
}

.card-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.card-item {
height: 452px;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid var( --white-opas20-color);
    background: var(--gradient-color);
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-number {
    color: rgba(255, 255, 255, 0.40);
font-size: 14px;
line-height: 1.28;
letter-spacing: -0.02em;
}

.signup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color:  var(--secondary-black-color);
    border-radius: 50%;
}

.signup-link:hover {
    background-color: var(--accent-color);
}

.icon-arrow {
    fill: #777777;
}

.icon-arrow:hover {
    fill: var(--primary-white-color);
}

.card-title {
    max-width: 265px;
font-size: 28px;
font-weight: 500;
line-height: 1.14;
margin-bottom: 145px;
}

.card-text {
    color: var(--white-opas50-color);
line-height: 1.25;
letter-spacing: -0.02em;
}