.reviews-title {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    margin-bottom: 50px;
  }
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1280px) {
  .reviews-list {
    flex-wrap: nowrap;
    gap: 20px;
  }
}

.reviews-item {
  position: relative;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--white-opas20-color);
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-item {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 1279px) {
  .reviews-item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-item {
    width: calc((100% - 20px) / 2);
  }
}

.reviews-item-wrap {
  margin-left: 66px;
  margin-bottom: 23px;
}

@media screen and (min-width: 767px) {
  .reviews-item-wrap {
    display: flex;
    flex-wrap: nowrap;
  }
}

.reviews-img {
  position: absolute;
  width: 56px;
  height: 56px;
}

@media screen and (max-width: 767px) {
  .reviews-client-description {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-client-description {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .reviews-rate {
    margin: 0 auto;
  }
}

.reviews-rate {
  margin-left: auto;
}

.reviews-star:not(:last-child) {
  fill: var(--accent-color);
  stroke-width: 1.5px;
  stroke: var(--accent-color);
}

.reviews-star:last-child {
  fill: var(--white-opas20-color);
  stroke-width: 1px;
  stroke: #414141;
}

.reviews-client-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 4px;
}

.reviews-client-status {
  color: var(--white-opas50-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}


@media screen and (max-width: 1440px) {
.reviews-item-wrap {
      margin-bottom: 20px;  }
}
