@import url('./reset.css');
@import url('./variables.css');
@import url('./components.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advertisement.css');
@import url('./about-us.css');
@import url('./our-courses.css');
@import url('./our-mentors.css');
@import url('./sign-up.css');
@import url('./reviews.css');
@import url('./footer.css');