/*! Змінні */
:root {
    --mobile: 375px;
    --tablet: 768px;
    --desktop: 1280px;
    --secondary-desktop: 1440px;

    --main-font:'DM Sans', sans-serif;

    --primary-black-color: #121212;
    --secondary-black-color:#1D1D1D;
    --gradient-color: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
    --buttons-text-color: #121212;
    --primary-white-color: #ffffff;
    --white-opas50-color: rgba(255, 255, 255, 0.50);
    --white-opas20-color: rgba(255, 255, 255, 0.20);
    --accent-color: #BEA69E;
    --accent-color-opas40: rgba(190, 166, 158, 0.40);
}